node_modules/
bower_components/

.idea/

*.iml

coverage/

dist/js-data-http-tests*
build_examples/r.js/bundle.js
build_examples/browserify/bundle.js
build_examples/webpack/bundle.js
build_examples/webpack_es6/bundle.js
build_examples/webpack_es6_2/bundle.js
